body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  max-width: 90vw;       /* ビューポートの90%までに制限 */
  overflow-wrap: break-word;
  white-space: pre-wrap; /* 折り返しを許可 */
  word-break: break-word;
}


.App {
  width: 100%;
  max-width: 100vw;   /* ビューポートの90%までに制限 */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


.api-button {
  width: 110px;
  height: 40px;
  font-size: 16px;
  padding: 8px 16px;
}


.api-response {
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 60ch;         /* 約60文字分の幅で折り返す */
  margin: 20px auto;
  line-height: 1.6;
  font-size: 0.9em;
}



