body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.api-button {
  width: 110px;
  height: 40px;
  font-size: 16px;
  padding: 8px 16px;
}

.api-response {
  white-space: pre-wrap; /* 改行と空白を保持しつつ折り返す */
  word-break: break-word; /* 単語の途中でも折り返す */
  max-width: 40%; /* 横幅を制限して読みやすくする */
  margin: 20px auto; /* 中央寄せ */
  line-height: 1.6; /* 行間を広げて読みやすく */
}

